<div class="row border m-0 p-3 mb-4" *ngIf="selectedProduct">
  <div class="col-md-2">
    <img
      src="/assets/img/{{ selectedProduct.imageUrl }}"
      alt="{{ selectedProduct.name }}"
      width="50"
      height="70"
    />
  </div>
  <div class="col md 10">
    <h5 class="card-title">
      {{ selectedProduct.name }}
    </h5>
    <p class="card-text">
      {{ selectedProduct.description }}
    </p>
    <button class="btn btn-danger" (click)="hideDetails()">Seçimi iptal et</button>
    <button
      (click)="addProductToCart(selectedProduct)"
      class="btn btn-outline-primary btn-sm m-1"
    >
      Add To Cart
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let product of products">
    <div class="card mb-3">
      <img src="/assets/img/{{ product.imageUrl }}" alt="{{ product.name }}" />
      <div class="card-body"></div>
      <h4 class="card-title">
        <a href="">
          {{ product.name }}
        </a>
      </h4>
      <small class="text-muted">
        <i class="fas fa-lira-sign"></i>
        {{ product.price }}
      </small>
    </div>
    <div class="card-footer text-center">
      <button
        class="btn btn-outline-primary btn-sm m-1"
        (click)="displayDetails(product)"
      >
        Details
      </button>
      <button
      (click)="addProductToCart(product)"
      class="btn btn-outline-primary btn-sm m-1"
    >
      Add To Cart
    </button>
    </div>
  </div>
</div>
